/*  

미디어 쿼리, flex-box를 이용해서 device가 일정 width 이하가 될 때 퍼즐이 맞춰지고, 퍼즐이 돌아가게 만들어 보세요~! 
width 기준은 자신의 device의 맞게 자유 형식입니다.
완성 하셨다면 다양한 애니메이션도 넣어보시고, 전환효과도 이용해서 다양한 아이디어를 반영해보세요!


*/


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

#main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    margin: 30px;
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;

}


.line {
    width: 100%;
    height: 16%;
    border: solid 2px gray;
    display: flex;
    align-items: flex-start;
    align-content: start;

}

.red {
    background-color: red;
    flex-grow: 1;
    height: 100%;
    border: solid 2px gray;

}

.orange {
    background-color: orange;
    flex-grow: 1;
    height: 100%;
    border: solid 2px gray;

}

.black {
    background-color: black;
    flex-grow: 1;
    height: 100%;
    border: solid 2px gray;

}

.blue {
    background-color: blue;
    flex-grow: 1;
    height: 100%;
    border: solid 2px gray;

}

.pink {
    background-color: pink;
    flex-grow: 1;
    height: 100%;
    border: solid 2px gray;

}

.green {
    background-color: green;
    flex-grow: 1;
    height: 100%;
    border: solid 2px gray;

}

@media (max-width: 1000px) {
    #main{
        transform: rotate(360deg);
        transition: 2s linear;
    }
    
    .red{order: 1;}
    .orange{order: 2;}
    .black{order: 3;}
    .blue{order: 4;}
    .pink {order: 5;}
    .green {order: 6;}

}